<ion-header>
  <ion-toolbar>
    
    <!-- Side Menu Button start -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- Side Menu Button end -->

    <ion-title>
      {{ 'MENU.maintitle' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    {{ 'MENU.menu' | translate }}
    {{ 'MENU.maintitle' | translate }}
    {{ 'MENU.description' | translate }}
    {{ 'MENU.language' | translate }}
  <!-- Try to test a card on Main menu-->
  <!--

    <ion-card>
        
        <ion-card-header>
          <ion-card-subtitle>Subtitle test</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>
            Let's Test something
          </p>
          <ion-spinner *ngIf="!articles" name="dots"></ion-spinner>
        </ion-card-content>
      </ion-card> -->
      

</ion-content>
