<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

        <ion-button shape="block" (click)="gotoLanguage()">
          <ion-icon name="globe"></ion-icon>
          Language
        </ion-button>

        <ion-button shape="block" (click)="gotoAbout()">
          <ion-icon name="person"></ion-icon>
          About
        </ion-button>

        <ion-button shape="block" (click)="gotoGithub()">
          <ion-icon name="logo-github"></ion-icon>
          Github
        </ion-button>

    </ion-list>

</ion-content>
